@import "./normalize.css";

:root{
    --ele-color:#409EFF;
}
a{
    text-decoration: none;
}
html{
    line-height: normal;
}
ul,li{
    padding: 0;
    margin: 0;
}
*{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body{
    height: 100vh;
}
